<aside>

    <div class="widget">
        <h3>Iniciar sesion</h3>

        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>

    <div class="widget">
        <h3>Ultimas entradas</h3>

        <ul>
            <li>
                <a href="#">La posición del analista en dirección de la cura</a>
            </li>
            <li>
                <a href="#">Tratar todo como si fuera un clavo</a>
            </li>
            <li>
                <a href="#">Tratamiento para el transtorno narcisista de la personalidad</a>
            </li>
            <li>
                <a href="#">Puntualidad: Consejos para mejorarla</a>
            </li>
            <li>
                <a href="#">¿Por qué compramos compulsivamente?</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frases del dia</h3>

        <blockquote>
            Las palabras más peligrosas son “nunca”, “todo”, “nada” y “siempre”. Y es porque nunca dejan opciones. Walter Riso.
        </blockquote>
    </div>
</aside>