<section id="content">
    <h1>Ultimas Noticias</h1>

    <article>
        <h2>La posicion del analista en la direccion de la cura</h2>
        <div>
            <img src="./img/la posicion del analista.jpg"/>
            <p>Pensando en las coordenadas dentro de la clínica, desde el lugar de las resistencias y la función del analista, pueden surgir los siguientes interrogantes: ¿En qué se diferencia la clínica psicoanalítica de otras propuestas terapéuticas? Entre tantas ofertas en la actualidad, sean estas psicoterapéuticas o no,  frente a la demanda del padecimiento de un sujeto.</p>
        </div>
        <a href="#">Leer mas >></a>  
    </article>
    <article>
        <h2>Tratar todo como si fuera un clavo</h2>
        <div>
            <img src="./img/llave.jpg"/>
            <p>En la transferencia el analista pone en juego la disolución de su propio saber tal como el paciente lo presupone, y tal como él mismo lo introdujo en una determinada cura. Cada nuevo análisis modifica -o debería modificar- por lo menos algunas de las convicciones que el analista tenía sobre la dinámica del psiquismo antes de escuchar al analizando que viene a confiarle su palabra.</p>
            
        </div>
        <a href="#">Leer mas >></a>
    </article>
    <article>
        <h2>Tratamiento para el transtorno narcisista de la personalidad</h2>
        <div>
            <img src="./imgInterview/photo9.jpg"/>
            <p>En la transferencia el analista pone en juego la disolución de su propio saber tal como el paciente lo presupone, y tal como él mismo lo introdujo en una determinada cura. Cada nuevo análisis modifica -o debería modificar- por lo menos algunas de las convicciones que el analista tenía sobre la dinámica del psiquismo antes de escuchar al analizando que viene a confiarle su palabra.</p>
            
        </div>
        <a href="#">Leer mas >></a>
    </article>
    <article>
        <h2>Puntualidad: Consejos para mejorarla</h2>
        <div>
            <img src="./imgInterview/photo5.jpg"/>
            <p>En la transferencia el analista pone en juego la disolución de su propio saber tal como el paciente lo presupone, y tal como él mismo lo introdujo en una determinada cura. Cada nuevo análisis modifica -o debería modificar- por lo menos algunas de las convicciones que el analista tenía sobre la dinámica del psiquismo antes de escuchar al analizando que viene a confiarle su palabra.</p>
            
        </div>
        <a href="#">Leer mas >></a>
    </article>
    <article>
        <h2>Por que compramos compulsivamente</h2>
        <div>
            <img src="./imgInterview/photo7.jpg"/>
            <p>En la transferencia el analista pone en juego la disolución de su propio saber tal como el paciente lo presupone, y tal como él mismo lo introdujo en una determinada cura. Cada nuevo análisis modifica -o debería modificar- por lo menos algunas de las convicciones que el analista tenía sobre la dinámica del psiquismo antes de escuchar al analizando que viene a confiarle su palabra.</p>
            
        </div>
        <a href="#">Leer mas >></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">23</a></li>
    </ul>
        
</section>